.login {
//   background-color: red;
background: url('../../img/bg1.jpg')
}


  .logoImg {
    width: 60%;
    border-radius: 100px;
}


.login_input {
    background: none;
}

.color_black{
    color:black !important;
}